In [17]:
import seaborn as sb
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [32]:
df = sb.load_dataset("diamonds")

In [38]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [34]:
df["cut"]

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [39]:
df = pd.DataFrame(df)

In [41]:
X = df[["carat"]]
y = df["price"]
rg = LinearRegression()
model = rg.fit(X,y)
model.score(X,y)

0.8493305264354858

# RESULT OF OLD DATA
0.611875050850071

In [44]:
model.predict(X)

array([-472.38268791, -627.51120027, -472.38268791, ..., 3173.13735253,
       4414.16545141, 3560.95863343])

In [45]:
model.coef_

array([7756.42561797])

In [ ]:
sb.pairplot(df,kind="reg")